/*********************************************************************************

	Template Name: Boighor Bookshop Responsive Bootstrap4 Template  
	Description: Template description
	Version: 1.0
	Note: This is custom css. All custom styles (user styles) declare here.

**********************************************************************************/

.active_page {
  border-bottom-color: rgb(70, 70, 70);
  border-bottom-style: solid;
}

.active_category {
  border-right-color: rgb(70, 70, 70);
  border-right-style: solid;
}

.price--filter button {
  border: none;
  padding: 0;
  background: #222 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase; 
}

.tag {
  background-color: #ececec;
  border-radius: 3px;
}

.buy--btn {
  border: none;
  padding: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #222 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
}

.btn-search {
  border: none;
  padding: 0;
  background: #222 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
}

.addtocart__actions .input_box {
  background: #fff none repeat scroll 0 0;
  width: 100%;
  padding: 10px 0;
}

.addtocart__actions .input_box input {
  height: 40px;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  padding: 0 10px;
}

.addtocart__actions .input_box label {
  color: #333;
  line-height: 2;
  font-size: 14px;
}

.contact__desc {
  font-size: 16px;
}

@media (min-width: 992px) {
  .search__box .form__box {
    border-bottom: 2px solid #222;
    height: 50px;
    margin: 30px auto 0;
    max-width: 100%;
    position: relative; 
  }
  .search__box .form__box input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    padding-left: 20px;
    padding-right: 80px;
    width: 100%;
    outline: none; 
  }
  .search__box .form__box button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px; 
  }
}

@media (max-width: 991px) {
  .search__box .form__box {
    visibility: hidden;
  }
  .search__box .form__box input {
    visibility: hidden;
  }
  .search__box .form__box button {
    visibility: hidden;
  }
}